@media screen and (max-width: 1020px) { /* Large Desktop */ }
@media screen and (max-width: 780px) { /* tablet */ }
@media screen and (max-width: 480px) { /* mobile */ }

body {
    color: #fff;
    background-color: #000;
    font-size: 25px;
}
/*comment*/
h1 {
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

p {
    margin: 0 0 25px;
    line-height: 2.5;
}

/* #skill-bar-wrapper {
    font-size: 18px;
} */

.skillbar-container {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background-color: #666463;
    background-color: rgba(255, 255, 255, .1);
    height: 70px;
    height: 50px;
}

.skills {
    height: 100px;
    height: 50px;
    width: 100%;
}

.text-left {
    text-align: left;
    box-shadow: 0 4px 73px 0 rgba(3, 255, 255, 1);
}
.skills{
    background: white;
    width: 50%;
    box-shadow: rgb(0, 255, 0) 0px 4px 12px 0px;
    overflow: hidden;
}