body {
    color: #fff;
    background-color: #000;
    font-size: 18px;
}
/*comment*/
h1 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

p {
    margin: 0 0 25px;
    line-height: 2.5;
}

/* #skill-bar-wrapper {
    font-size: 18px;
} */

.skillbar-container {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background-color: #666463;
    background-color: rgba(255, 255, 255, .1);
    height: 70px;
    height: 50px;
}

.skills {
    height: 100px;
    height: 50px;
    width: 100%;
}