body{
    margin: 0;
    background:#ccc;
    font-family: 'Ubuntu', sans-serif;
  }
  /*comment*/
  a{
      text-decoration:none;
  }
  #navbar{
    position: fixed;
      display: flex;
    flex-flow: row wrap;
    justify-content:flex-end;
    /*flex-flow: row wrap;
    justify-content: flex-end;*/
      width:100%;
      max-width:100%;
      height:60px;
      background:#060658;
  }
  .nav-item{
    width:110px;
    display: flex;
    /*text-decoration:none;*/
    align-items: center;
      /*color:rgba(15, 191, 199, 0.95);*/
      color:white;
      font-size: 21px;
    font-weight: 600;
  }
  
  
  #welcome-section{
      display: flex;
      flex-flow: column wrap;
      background:black;
      max-width:100%;
      height:100%;
      text-align:center;
      line-height:1.8;
  }
  #welcome-section h1{
      font-size:3.5em;
      color:white;
      display: flex;
      flex-wrap: wrap;
      justify-content:center;
      align-items: center;
      position:absolute;
      top:30%;
      left:50%;
      transform:translate(-50%,-50%);
      font-family:sans-serif;
      font-weight:lighter;
      letter-spacing:3px;
      /*background:linear-gradient(90deg,black,white,black);*/
      background:linear-gradient(90deg,rgb(1, 253, 148),rgb(255, 230, 0),rgb(253, 115, 2));
      animation:animate 8s linear infinite;
      background-size:90%;
      background-repeat:no-repeat;
      -webkit-background-clip:text;
      -webkit-text-fill-color:transparent;
  }
  @keyframes animate{
    from{
      background-position:-1000%;
    }
    to{
      background-position:1000%;
    }
  }
  
  #welcome-section h3{
      /*position:absolute;
      top:60%;
      left:50%;
      font-size:40px;
      color:rgba(15, 191, 199, 0.95);*/
      display: flex;
      flex-wrap: wrap;
      justify-content:center;
      align-items: center;
        font-size:50px;
        color:white;
        position:absolute;
        top:65%;
        left:50%;
        transform:translate(-50%,-50%);
        font-family:sans-serif;
        font-weight:lighter;
        letter-spacing:3px;
        /*background:linear-gradient(90deg,black,white,black);*/
        background:linear-gradient(90deg,rgb(1, 242, 250),rgb(252, 248, 2),rgb(2, 255, 158));
        animation:animate 11s linear infinite;
        background-size:100%;
        background-repeat:no-repeat;
        -webkit-background-clip:text;
        -webkit-text-fill-color:transparent;
  }
  @keyframes animate{
    from{
      background-position:-1000%;
    }
    to{
      background-position:1000%;
    }
  }
  
  footer{
      display:flex;
      flex-flow:column wrap;
      align-items:center;
      justify-content:center;
      max-width:1600px;
      width:100%;
      height:80px;
      background:#060658;
      color:white;
  }
  a
  .wrapper {
    max-width: 100%;
    margin: 0 auto;
  }
  
  /*-------------------------------------------------------*/
  /* Portfolio
  /*-------------------------------------------------------*/
  .project-grid.grid-5-col .project {
    width: 20%;
  }
  
  .project-grid.grid-4-col .project {
    width: 25%;
  }
  
  .project-grid.grid-3-col .project {
    width: 33.33333333%;
  }
  
  .project-grid.grid-2-col .project {
    width: 50%;
  }
  
  .project-grid.small-gutter {
    margin-left: -4px;
    margin-right: -4px;
  }
  
  .project-grid.small-gutter .project {
    padding: 0 4px;
    margin-bottom: 8px;
  }
  
  .project-grid.gutter {
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .project-grid.gutter .project {
    padding: 0 15px;
    margin-bottom: 30px;
  }
  
  /*-------------------------------------------------------*/
  .owl-featured-works .project {
    margin: 0 4px;
    padding: 0;
  }
  
  .owl-featured-works--grab .project {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
  }
  
  .project {
    overflow: hidden;
    display: block;
    position: relative;
  }
  .project__img-holder {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .project__img {
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .project__overlay {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
  }
  .project__overlay .project__category,
  .project__overlay .project__title {
    color: #fff;
  }
  .project__icons {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    margin-top: -20px;
    transition: all 0.3s ease-in-out;
  }
  .project__icons a {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    margin: 0 3px;
    line-height: 40px;
    text-align: center;
    color: #333333;
    background-color: #fff;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
  }
  .project__icons a:hover {
    color: #fff;
    background-color: #f36b21;
  }
  .project:hover .project__overlay {
    opacity: 1;
    visibility: visible;
  }
  .project--hover-1:hover .project__icons {
    top: 42%;
  }
  .project__description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  .project--hover-1:hover .project__description {
    bottom: 42%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .project__title {
    margin-bottom: 5px;
    text-transform: none;
    letter-spacing: 0;
    font-size: 16px;
  }
  .project__title:hover a {
    color: #f36b21;
  }
  .project__category {
    font-size: 13px;
    font-style: italic;
  }
  .project__category a {
    color: inherit;
  }
  .project__category:hover a {
    color: #f36b21;
  }
  
  /*-------------------------------------------------------*/
  /* Portfolio
  /*-------------------------------------------------------*/
  /* Filter
  -------------------------------------------------------*/
  .project-filter {
    list-style: none;
    margin-bottom: 40px;
    cursor: default;
    font-size: 13px;
  }
  .project-filter a {
    display: inline-block;
    margin-right: 5px;
    color: #7a7a7a;
    text-decoration: none;
    padding: 7px 15px;
    border-radius: 3px;
    background-color: #fff;
  }
  .project-filter a.active,
  .project-filter a:focus,
  .project-filter a:hover {
    color: #f36b21;
  }
  
  /* Hover 2
  -------------------------------------------------------*/
  .project--hover-2 .project__description {
    padding: 13px 20px;
    background-color: #fff;
    display: block;
    left: 0;
    bottom: auto;
    top: auto;
    text-align: left;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    z-index: 2;
  }
  .project--hover-2 .project__title {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 1.3;
  }
  .project--hover-2:hover .project__description {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    bottom: auto;
  }
  .project--hover-2:hover .project__img {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  .project--hover-2:hover .project__icons {
    top: 42%;
  }
  
  /* Hover 3
  -------------------------------------------------------*/
  .project--hover-3 .project__description {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  .project--hover-3:hover .project__description {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  /*-------------------------------------------------------*/
  /* Portfolio Responsive Styles
  /*-------------------------------------------------------*/
  @media screen and (max-width: 1600%) {
    .project-grid .project {
      width: 100% !important;
    }
  
    .project-filter a {
      display: block;
      margin-top: 8px;
      margin-right: 0;
    }
  }
  
  
  
